# IDE
.idea/
*.iml
.vscode/

# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
.DS_Store
*.local

# Logs
*.log
logs/

# OS
Thumbs.db
Desktop.ini

# Env
.env
.env.local
